<section class="section">
    <div class="container">
      <h2 class="section__h2"> <a class="section__h2-link" href="#">Trending TV Shows</a></h2>
      <div class="movies"> 
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster01.png" alt="poster"></a></div>
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster02.png" alt="poster"></a></div>
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster03.png" alt="poster"></a></div>
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster04.png" alt="poster"></a></div>
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster05.png" alt="poster"></a></div>
        <div class="movies-item"> <a class="movies__link" href="#"><img class="movies__img" src="../../assets/posters/poster06.png" alt="poster"></a></div>
      </div>
    </div>
  </section>