$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(151deg, rgba(50,108,255,1) 0%, rgba(38,255,242,1) 100%);
$bg-gradient-safe: rgb(50,108,255);

.offer {
    max-width: 122.4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../assets/offer-bg.png);
    padding: 7.2rem 14.7rem 7.2rem 5.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 7rem;
    margin-bottom: 12.1rem;
    box-sizing: border-box;
    &__title {
        font-size: 6.4rem;
        font-weight: 700;
        max-width: 80rem;
        margin: 0;
        line-height: 1;
    }
    &__btn {
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 800;
        cursor: pointer;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        color: $white;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        transition: .2s ease box-shadow;
        &:hover {
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
        }
    }
}