<section class="section-banner"><img class="section-banner__image" src="../../assets/banner.png" alt="Banner">
    <div class="container">
      <div class="banner">
        <h1 class="banner__title">Zack Snyder's Justice League</h1>
        <div class="banner-info"> <span class="banner-info__year">2021</span><span class="banner-info__age">18+</span><span class="banner-info__time">4h 2min</span><span class="banner-info__rating">8.8</span></div>
        <p class="banner__text">Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.</p>
        <div class="banner-control">
          <button class="banner-control__btn banner-control__btn-main">Watch</button>
          <button class="banner-control__btn banner-control__btn-more">More information</button>
        </div>
      </div>
    </div>
  </section>
