
    <section class="section">
        <div class="container">
          <h2 class="section__h2"> <a class="section__h2-link" href="#">Popular Genres</a></h2>
          <div class="genres">
            <div class="genres-item genres-item_romance">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/romance.svg" alt=""></div>
              <h3 class="genres__title">Romance</h3>
            </div>
            <div class="genres-item genres-item_drama">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/drama.svg" alt=""></div>
              <h3 class="genres__title">Drama</h3>
            </div>
            <div class="genres-item genres-item_historical">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/historical.svg" alt=""></div>
              <h3 class="genres__title">Historical</h3>
            </div>
            <div class="genres-item genres-item_action">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/action.svg" alt=""></div>
              <h3 class="genres__title">Action</h3>
            </div>
            <div class="genres-item genres-item_sci-fi">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/sci-fi.svg" alt=""></div>
              <h3 class="genres__title">Sci-fi</h3>
            </div>
            <div class="genres-item genres-item_horror">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/horror.svg" alt=""></div>
              <h3 class="genres__title">Horror</h3>
            </div>
            <div class="genres-item genres-item_comedy">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/comedy.svg" alt=""></div>
              <h3 class="genres__title">Comedy</h3>
            </div>
            <div class="genres-item genres-item_documentary">
              <div class="genres-icon"><img class="genres__image" src="../../assets/genres/documentary.svg" alt=""></div>
              <h3 class="genres__title">Documentary</h3>
            </div>
          </div>
        </div>
      </section>