
    <section class="section">
        <div class="container">
          <h2 class="section__h2"> <a class="section__h2-link" href="#">Popular Actors & Directors</a></h2>
          <div class="actors">
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
            <div class="actors-item"> <a class="actors__link" href="#"><img class="actors__img" src="../../assets/actor/actor01.png" alt=""></a>
              <h3 class="actors__title">Samantha Bowen</h3>
            </div>
          </div>
        </div>
      </section>
